@import '../../../../../static/styles/global.scss';
@import '../../../../../static/styles/colors.scss';

.navbar {
  @extend %shadow-x;

  div {
    @extend %container;
    max-width: 1024px;

    height: 62px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      display: flex;
      align-items: center;
    }
  }

  .companyLogo {
    text-decoration: none;
    color: $black-primary;
    font-size: $heading-2;
    font-family: $headingType;
    font-weight: $bolder;
  }
}
